@font-face {
  font-family: "WorkSans";
  src: url("./fonts/worksans/source/WorkSans-Regular.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space-grotesk/source/SpaceGrotesk-Regular.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}
